package quizzes

import "KdnSite/ui/layouts"

templ QuizList() {
	@layouts.BaseLayout() {
		<main class="container mx-auto py-12">
			<h1 class="text-3xl font-bold mb-6 text-primary">Your Quizzes</h1>
			<!-- TODO: List user quizzes here -->
			<p class="text-muted-foreground">No quizzes yet. Create your first quiz!</p>
		</main>
	}
}
