package projects

import "KdnSite/ui/layouts"

templ ProjectList() {
	@layouts.BaseLayout() {
		<main class="container mx-auto py-12">
			<h1 class="text-3xl font-bold mb-6 text-primary">Your Projects</h1>
			<!-- TODO: List user projects here -->
			<p class="text-muted-foreground">No projects yet. Start a new one!</p>
		</main>
	}
}
